Repository single-cell-data/TileDB-SOMA, pull requests merged in 2023-03, with the labels that each got.

#1026 [r] [WIP] Implement `PlatformConfig` and `SOMATileDBContext` for R
  apis/r/DESCRIPTION
  apis/r/NAMESPACE
  apis/r/R/ConfigList.R
  apis/r/R/MappingBase.R
  apis/r/R/PlatformConfig.R
  apis/r/R/SOMACollectionBase.R
  apis/r/R/SOMAContextBase.R
  apis/r/R/SOMATileDBContext.R
  apis/r/R/ScalarMap.R
  apis/r/R/TileDBArray.R
  apis/r/R/TileDBGroup.R
  apis/r/R/TileDBObject.R
  apis/r/R/roxygen.R
  apis/r/R/utils.R
  apis/r/man/ConfigList.Rd
  apis/r/man/MappingBase.Rd
  apis/r/man/PlatformConfig.Rd
  apis/r/man/SOMAContextBase.Rd
  apis/r/man/SOMATileDBContext.Rd
  apis/r/man/ScalarMap.Rd
  apis/r/man/TileDBObject.Rd
  apis/r/man/roxygen/templates/param-config.R
  apis/r/man/roxygen/templates/param-default.R
  apis/r/man/roxygen/templates/param-dots-ignored.R
  apis/r/man/roxygen/templates/param-value.R
  apis/r/man/roxygen/templates/return-virtual.R
  apis/r/tests/testthat/test-ConfigList.R
  apis/r/tests/testthat/test-PlatformConfig.R
  apis/r/tests/testthat/test-SOMATileDBContext.R
  apis/r/tests/testthat/test-ScalarMap.R
Labels: r-api

#1045 [python] Improve spec/impl consistency on `cls`/`type`/`kind` parameters
  apis/python/src/tiledbsoma/_collection.py
  apis/python/tests/test_collection.py
Labels: 1.0-python

#1110 [r] `SOMASparseNDArray$read_sparse_matrix`: set dims on the returned `sparseMatrix`
  apis/r/R/SOMASparseNdArray.R
  apis/r/tests/testthat/test_SOMASparseNdArray.R
Labels: r-api

#1112 [r] Fix testing logic for iterated reads from `SOMASparseNDArray`
  apis/r/tests/testthat/test_SOMAReader-Iterated.R
Labels: r-api

#1119 [r] Add SOMA Experiment Query -> Seurat outgestors
  apis/r/DESCRIPTION
  apis/r/NAMESPACE
  apis/r/NEWS.md
  apis/r/R/SOMAExperimentAxisQuery.R
  apis/r/R/utils-seurat.R
  apis/r/R/utils.R
  apis/r/man/SOMAExperimentAxisQuery.Rd
  apis/r/man/roxygen/templates/param-obs-index.R
  apis/r/man/roxygen/templates/param-var-column-names.R
  apis/r/man/roxygen/templates/param-var-index.R
  apis/r/man/roxygen/templates/param-x-layers-v3.R
  apis/r/tests/testthat/test-SeuratOutgest.R
Labels: r-api, 1.0rc-r

#1156 [R] Fix reading very sparse assays
  apis/r/DESCRIPTION
  apis/r/R/SOMAExperimentAxisQuery.R
Labels: r-api

#1179 [R] Fix `to_seurat()` cell-level meta data
  apis/r/DESCRIPTION
  apis/r/R/SOMAExperimentAxisQuery.R
Labels: r-api, 1.0rc-r
