Repository single-cell-data/TileDB-SOMA, pull requests merged in 2025-05, with the labels that each got.

#4033 [r] Build SCE example data in test suite
  .github/workflows/r-ci.yml
  apis/r/DESCRIPTION
  apis/r/data-raw/pbmc3k-sce-extras.R
  apis/r/inst/extdata/pbmc3k-sce/clusters.txt
  apis/r/inst/extdata/pbmc3k-sce/hvg.txt
  apis/r/inst/extdata/pbmc3k-sce/pca.csv
  apis/r/inst/extdata/pbmc3k-sce/umap.csv
  apis/r/tests/testthat/helper-test-sce.R
  apis/r/tests/testthat/test-11-example-datasets.R
  apis/r/tests/testthat/test-14-SummarizedExperimentIngest.R
  apis/r/tests/testthat/test-15-SingleCellExperimentIngest.R
  apis/r/tests/testthat/test-16-write-soma-resume.R
Labels: r-api, ci

#3644 [r] Remove tiledb-r from SOMA tests
  apis/r/DESCRIPTION
  apis/r/NAMESPACE
  apis/r/NEWS.md
  apis/r/R/RcppExports.R
  apis/r/R/SOMAArrayBase.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/TileDBObject.R
  apis/r/R/TileDBURI.R
  apis/r/R/utils-arrow.R
  apis/r/R/utils-tiledb.R
  apis/r/R/zzz.R
  apis/r/man/SOMAArrayBase.Rd
  apis/r/man/SOMADataFrame.Rd
  apis/r/man/SOMADenseNDArray.Rd
  apis/r/man/SOMANDArrayBase.Rd
  apis/r/man/SOMASparseNDArray.Rd
  apis/r/src/RcppExports.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/rutilities.cpp
  apis/r/src/rutilities.h
  apis/r/tests/testthat/helper-test-soma-objects.R
  apis/r/tests/testthat/test-01-Arrow-utils.R
  apis/r/tests/testthat/test-04-TileDBGroup.R
  apis/r/tests/testthat/test-04-TileDBURI.R
  apis/r/tests/testthat/test-06-SOMACollection.R
  apis/r/tests/testthat/test-06-SOMADataFrame.R
  apis/r/tests/testthat/test-06-SOMADenseNDArray.R
  apis/r/tests/testthat/test-06-SOMASparseNDArray.R
  apis/r/tests/testthat/test-11-OrderedAndFactor.R
  apis/r/tests/testthat/test-11-example-datasets.R
  apis/r/tests/testthat/test-12-SOMAExperiment-query-base.R
Labels: r-api

#4035 [r] Update cross-references in documentation
  apis/r/R/BlockwiseIter.R
  apis/r/R/Factory.R
  apis/r/R/SOMASparseNDArrayRead.R
  apis/r/R/utils-arrow.R
  apis/r/man/BlockwiseTableReadIter.Rd
  apis/r/man/SOMACollectionCreate.Rd
  apis/r/man/SOMADataFrameCreate.Rd
  apis/r/man/SOMAExperimentCreate.Rd
  apis/r/man/SOMAMeasurementCreate.Rd
  apis/r/man/SOMASparseNDArrayBlockwiseRead.Rd
  apis/r/man/SOMASparseNDArrayCreate.Rd
  apis/r/man/r_type_from_arrow_type.Rd
Labels: r-api, backport release-1.17

#4036 [r] Document missing parameters
  apis/r/DESCRIPTION
  apis/r/R/Factory.R
  apis/r/R/TileDBObject.R
  apis/r/man/SOMADataFrameCreate.Rd
  apis/r/man/SOMADataFrameOpen.Rd
  apis/r/man/TileDBObject.Rd
Labels: r-api, backport release-1.17

#4052 [r] Add links to `NEWS.md`
  apis/r/NEWS.md
Labels: r-api

#4045 [r] Clean up NAMESPACE imports
  apis/r/DESCRIPTION
  apis/r/NAMESPACE
  apis/r/R/QueryCondition.R
  apis/r/R/SOMAAxisQuery.R
  apis/r/R/SOMAAxisQueryResult.R
  apis/r/R/SOMADataFrame.R
  apis/r/R/SOMAExperimentAxisQuery.R
  apis/r/R/SOMASparseNDArray.R
  apis/r/R/TileDBArray.R
  apis/r/R/TileDBGroup.R
  apis/r/R/datasets.R
  apis/r/R/ephemeral.R
  apis/r/R/pad_matrix.R
  apis/r/R/utils-arrow.R
  apis/r/R/utils-assertions.R
  apis/r/R/utils-seurat.R
  apis/r/R/utils-tiledb.R
  apis/r/R/utils-uris.R
  apis/r/R/utils.R
  apis/r/R/write_seurat.R
  apis/r/R/write_soma.R
  apis/r/R/zzz.R
  apis/r/tests/testthat/test-11-shape.R
Labels: r-api

#4046 [r] Clean up `DESCRIPTION`
  apis/r/DESCRIPTION
Labels: r-api

#4056 [r] Roll back minimum version of Matrix
  apis/r/DESCRIPTION
Labels: r-api

#4059 Update changelogs for release 1.17.0rc0
  apis/python/HISTORY.md
  apis/r/DESCRIPTION
  apis/r/NEWS.md
Labels: backport release-1.17

#4063 [r] Add `importFrom` statements to NAMESPACE
  apis/r/DESCRIPTION
  apis/r/NAMESPACE
  apis/r/R/zzz.R
  apis/r/tools/versioned_deps.R
Labels: r-api

#4066 [c++/python] Fix domain getter memory leak on C++/Python layer
  .pre-commit-config.yaml
  apis/python/HISTORY.md
  apis/python/src/tiledbsoma/soma_array.cc
  apis/python/src/tiledbsoma/soma_dataframe.cc
  apis/python/src/tiledbsoma/soma_geometry_dataframe.cc
  apis/python/src/tiledbsoma/soma_point_cloud_dataframe.cc
  apis/python/src/tiledbsoma/transformer.cc
  libtiledbsoma/src/soma/soma_array.cc
  libtiledbsoma/src/soma/soma_geometry_column.cc
  libtiledbsoma/src/utils/arrow_adapter.cc
Labels: backport release-1.17

#4076 [r] Reduce NAMESPACE exports
  apis/r/DESCRIPTION
  apis/r/NAMESPACE
  apis/r/R/RcppExports.R
  apis/r/R/utils-arrow.R
  apis/r/R/utils-tiledb.R
  apis/r/R/zzz.R
  apis/r/man/delete_metadata.Rd
  apis/r/man/get_all_metadata.Rd
  apis/r/man/get_metadata.Rd
  apis/r/man/get_metadata_num.Rd
  apis/r/man/has_metadata.Rd
  apis/r/man/r_type_from_arrow_type.Rd
  apis/r/man/set_log_level.Rd
  apis/r/man/set_metadata.Rd
  apis/r/man/tiledbsoma_stats.Rd
  apis/r/src/groups.cpp
  apis/r/src/metadata.cpp
  apis/r/src/rinterface.cpp
  apis/r/src/riterator.cpp
  apis/r/src/rutilities.cpp
Labels: r-api

#4089 [r] Add examples for mapping types
  apis/r/R/ConfigList.R
  apis/r/R/MappingBase.R
  apis/r/R/PlatformConfig.R
  apis/r/R/SOMAContextBase.R
  apis/r/R/SOMATileDBContext.R
  apis/r/R/ScalarMap.R
  apis/r/R/TileDBCreateOptions.R
  apis/r/man/ConfigList.Rd
  apis/r/man/MappingBase.Rd
  apis/r/man/PlatformConfig.Rd
  apis/r/man/SOMAContextBase.Rd
  apis/r/man/SOMATileDBContext.Rd
  apis/r/man/ScalarMap.Rd
  apis/r/man/TileDBCreateOptions.Rd
Labels: r-api

#4092 [r] Adjust documentation for package-level utilities
  apis/r/R/QueryCondition.R
  apis/r/R/zzz.R
  apis/r/man/soma_context.Rd
  apis/r/man/tiledbsoma_empty_query_condition.Rd
  apis/r/man/tiledbsoma_query_condition-class.Rd
Labels: r-api

#4093 [r] Add examples for exported `utils-*.R` objects
  apis/r/R/utils-matrixZeroBasedView.R
  apis/r/R/utils-tiledb.R
  apis/r/man/matrixZeroBasedView.Rd
  apis/r/man/show_package_versions.Rd
Labels: r-api

#4088 [r] Add examples for read iterators
  apis/r/R/BlockwiseIter.R
  apis/r/R/ReadIter.R
  apis/r/R/SparseReadIter.R
  apis/r/R/TableReadIter.R
  apis/r/man/BlockwiseReadIterBase.Rd
  apis/r/man/BlockwiseSparseReadIter.Rd
  apis/r/man/BlockwiseTableReadIter.Rd
  apis/r/man/ReadIter.Rd
  apis/r/man/SparseReadIter.Rd
  apis/r/man/TableReadIter.Rd
Labels: r-api
